

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ MainDESCRIPTION }}">
    <meta name="author" content="{{ MainAUTHOR }}">

    <title>{{ PageTITLE }}</title>

    <link href="{{ MainSTATIC }}/default-theme/style.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/vazir-font/v7.0.0/dist/font-face.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/samim-font/v1.0.2/dist/font-face.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/rastikerdar/shabnam-font/v1.1.0/dist/font-face.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

   <header id="header">
	<img id="header_img" src="{{ MainSTATIC }}/default-theme/img/mira-c.png">
	<h1><a href="{{ MainROOT }}">
	   {{ MainTITLE }}
	</a></h1>
	<h5>
	   {{ MainDESCRIPTION }}
	</h5>
   </header>

  {{ INCLUDE navbar }}

   <div class="container">
	<section id="content" style="width: 100%">
	   {{ FOREACH FLOORS.values.sort('name') }}
	   <article class="post">
	      <div class="header">

	         <h1><a href="{{ root }}">{{ name }}</a></h1>
	         <p>{{ description }}</p>
	         {{ FOREACH posts }}
	         <h2 class="title">
	            <a href="{{ url }}">{{ title }}</a>
	         </h2>
	         <h6 class="date">
	            <i class="icon icon-calendar-empty"></i>
	            {{ date }}
	         </h6>
	         <div class="body">
	            <p>{{ body.less }}</p>
	         </div>
	         {{ END }}
		<div class="clear-both"></div>
		</div>
	   </article>
	   {{ END }}
	</section>
   </div>

{{ INCLUDE footer }}
