@font-face {
  font-family: 'Sahel';
  font-weight: 400;
  src: url('/static/mira/fonts/font-sahel/fonts/Sahel.eot'); 
  src: local('Sahel')
   ,url('/static/mira/fonts/font-sahel/fonts/Sahel.eot?#iefix') format('embedded-opentype')  

   ,url('/static/mira/fonts/font-sahel/fonts/Sahel.woff') format('woff')  
   ,url('/static/mira/fonts/font-sahel/fonts/Sahel.ttf')  format('truetype')  
  ; 
}
